@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 12px;
    font-family: Roboto;
    background-color: #ebebeb;
  }
  
  .main_header {
    background-color: #eac926;
  }
  
  .main_header_top {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .header_logo {
    width: 50%;
    padding: 10px;
    max-width: 300px;
  }

  .nav_search {
    width: 50%;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .nav_search_input {
    width: 80%;
    height: 40px;
    margin: 0;
    border-radius: 2px 0px 0px 2px;
    border-width: 1.5px;
    box-sizing: border-box;
    padding: 10px 60px 10px 15px;
    font-size: 14px;
    color: rgb(60, 65, 68);
    background-color: white;
    box-shadow: rgba(24, 26, 27, 0.2) 0px 1px 2px 0px;
    border-color: rgba(24, 26, 27, 0);
    border: none;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .nav_search_buton {
    color: rgb(96, 104, 108);
    color: white;
    background-color: white;
    box-shadow: rgba(24, 26, 27, 0.2) 0px 1px 2px 0px;
    padding: 0;
    border: none;
    font-size: 22px;
    color: #666;
    border-radius: 0 2px 2px 0;
    width: 45px;
    height: 40px;
    box-sizing: border-box;
  }

  .header_top_rigth {
    font-weight: 300;
    font-size: 16px;
    margin-top: 15px;
  }

  .hamburger_button {
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .header_navbar {
    display: none;
  }
  
  .header_navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header_navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
  }

  .banner {
     background-color: #ebebeb;
   }

  .banner img {
    width: 100%;
 }
  
  .container {
    width: 90%;
    padding: 15px;
    margin: auto;
  }


  footer{
    color: #666;
    margin-top: 0px;
    background-color: #fff;
  }
  
  .footer_info {
    text-align: center;
    padding: 20px;
  }
  
  .footer_info section{
    margin: 20px
  }
  
  .footer_copyright{
    margin: 5px;
    text-align: end;
  }
  
  .footer_icon{
    margin-bottom: 5px;
    font-size: 2rem;
    color: #1259c3;
  }

  
  footer h4 {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  @media (min-width: 768px) {
    .main_header_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
  
    .productos_visitados,
    .productos_oferta {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .titular {
      text-align: left;
    }
  
    .header_top_rigth {
      max-width: 350px;
      text-align: right;
    }
  
    .hamburger_button {
      display: none;
    }
  
    .header_navbar {
      display: flex;
      justify-content: space-between;
    }
  
    .header_navbar ul {
      display: flex;
    }
  
    .header_navbar li {
      margin: 0 5px;
    }
    
    .producto:hover .descripcion{
      opacity: 1;
    }
  
    .producto{
      transition: all 300ms;
    }
  
    .producto:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    .delivery_icon{
      transition: all 500ms;
    }
  
    .delivery_icon:hover{
      transform: rotate(-90deg);
    }
  
  }

  @media (min-width: 1200px) {
    .main_header_top,
    .header_navbar {
      max-width: 1200px;
      margin: auto;
    }
  
    .header_navbar li {
      margin: 0 10px;
    }
  
    .header_navbar a {
      font-size: 18px;
    }
    .header_top_rigth {
      font-size: 18px;
    }
  
    .footer_info{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    footer section {
      margin: 20px;
      padding: 0 100px;
    }
  }
